# 依赖目录
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 环境配置文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志文件
logs
*.log

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# 目录
# 不忽略dist目录，以便GitHub Pages可以使用
# dist/
build/
coverage/

# 缓存目录
.npm
.eslintcache
.node_repl_history

# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 编辑器目录和文件
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# 项目特定文件
# 不再忽略数据文件，使其能够提交到仓库
# data/*.json
# 本地开发环境配置
public/js/config.dev.js
# 部署相关
deploy/
# 备份文件
*.bak
*-backup.*

# 测试输出
.nyc_output 